{% extends 'app/app.html' %}
{% load static %}

{% block head_script %}
    <script type="text/javascript">
        const semester_data = {{ data|safe }},
            semester_name = '{{ name }}',
            semester_code = '{{ code }}',
            semester_last_update_dt = '{{ update_dt }}';
        let scheduleList = [{'id': '1', 'name': 'Default', 'data': {}}];
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="sidebar">
            <div class="textbox">
                <div class="text text-s">Current semester: {{ name }}</div>
            </div>
            <div class="schedule-select">
                <select id="schedule-selector" type="text">
                    <option value="1" selected>Default</option>
                </select>
            </div>
            <div class="course-select">
                <input id="course-selector" type="" placeholder="Type in course code">
{#                <div id="filtered-course-list" style="display: none;"></div>#}
            </div>
        </div>
        <div id="resize-handle"></div>
        <div class="content">
            <div class="timetable">
                <table>
                    <tr>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                    <tr>

                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block body_script %}#}
{#    <script type="text/javascript">#}
{#    </script>#}
{#{% endblock %}#}