{% extends 'app/app.html' %}
{% load static %}

{% block head_script %}
    <script type="text/javascript">
        const
            semester_data = {{ data|safe }},
            semester_name = '{{ name }}',
            semester_code = '{{ code }}',
            semester_last_update_dt = '{{ update_dt }}';

        let scheduleList = [{'id': '1', 'name': 'Default', 'data': {}}],
            generic_color_set = {
                'D50000': 0, // Tomato
                'E67C73': 0, // Flamingo
                'F4511E': 0, // Tangerine
                'F6BF26': 0, // Banana
                '33B679': 0, // Sage
                '0B8043': 0, // Basil
                '039BE5': 0, // Peacock
                '3F51B5': 0, // Blueberry
                '7986CB': 0, // Lavender
                '8E24AA': 0, // Grape
                '616161': 0, // Graphite
                '795548': 0  // Custom (Brown)
            },
            named_color_set = {
                'tomato': 0,
                'flamingo': 0,
                'tangerine': 0,
                'banana': 0,
                'sage': 0,
                'basil': 0,
                'peacock': 0,
                'blueberry': 0,
                'lavender': 0,
                'grape': 0,
                'graphite': 0,
                'brown': 0
            };
    </script>
{% endblock %}

{% block content %}

    <header class="header">
        <div class="header-title-container">
            <span class="header-app-title">Scheduler</span>
            <span class="header-semester-title">{{ name }}</span>
        </div>
        <div class="header-menu">
            <div class="header-menu-item">Switch to <span id="theme-toggle">dark theme</span></div>
        </div>
    </header>

    <div class="container">
        <div class="section sidebar">
            <div class="schedule-select">
                <select id="schedule-selector" type="text">
                    <option value="1" selected>Default</option>
                </select>
            </div>
            <div class="course-select">
                <input id="course-selector" placeholder="Type in course code">
            </div>
            <div class="course-list">
                <div id="course-list-view"></div>
            </div>
            <div class="footer">
            </div>
        </div>
        <div class="section timetable">
            <div class="timetable-view">
                <div class="timetable-online-course-list"></div>
                <table class="timetable-header">
                    <tr>
                        <th class="timetable-time"></th>
                        <th class="timetable-workday">Monday</th>
                        <th class="timetable-workday">Tuesday</th>
                        <th class="timetable-workday">Wednesday</th>
                        <th class="timetable-workday">Thursday</th>
                        <th class="timetable-workday">Friday</th>
                        <th class="timetable-weekend">Saturday</th>
                        <th class="timetable-weekend sunday">Sunday</th>
                        <th style="width: 1em;"></th>
                    </tr>
                </table>

                <div class="timetable-box">
                    <table>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">7:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">8:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">9:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">10:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">11:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">12:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">13:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">14:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">15:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">16:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">17:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">18:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">19:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">20:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">21:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">22:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="timetable-time">23:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="timetable-last">
                            <td class="timetable-time"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block body_script %}#}
{#    <script type="text/javascript">#}
{#    </script>#}
{#{% endblock %}#}