/* style.css */
/* Base Styles ********************************************************************************************************/

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
}

.section {
    margin: 0 10vh 0 0;
}

/* Sidebar Styles *****************************************************************************************************/

.sidebar {
    z-index: 1;
    display: flex;
    flex: 1 0 300px;
    height: 100%;
    background: #eee;
    overflow: auto;
    flex-direction: column;
    text-align: center;
}

.textbox {
    margin: 10vh 0 1vh 0;
}

#schedule-selector {
    display: none;
}

.course-select {

}

#course-selector {

}

.course-view {
    background: rgba(0, 0, 0, .25);
}

/* Timetable Styles ***************************************************************************************************/

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.timetable {
    flex: 9 0 auto;
    height: 80vh;
    width: 60vw;
    min-width: 700px;
}

.timetable-view {
    height: 100%;
    margin: 0 auto;
}

.timetable-header {
    height: 40px;
}

.timetable-box {
    height: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.timetable-box::-webkit-scrollbar {
    display: none;
}

.timetable-time {
    width: 60px;
    font-size: 0.8em;
    font-weight: normal;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    border: 0;
    position: relative;
    top: -12px;
}

.timetable-weekend {
    color: rgba(0, 0, 0, .5);
}

td {
    position: relative;
    text-align: center;
    vertical-align: top;
    height: 40px;
    width: auto;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 0.25rem 0.25rem 0 0.25rem;
}

td:last-child {
    border-right: none;
}