* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

#resize-handle {
    flex: 0 0 15px;
    right: 0;
    background: #aaa;
}

.content {
    flex: 9 0 auto;
    background: #fff;
}

.text {
    color: #111;

}

.text-s {

}

.text-l {

}

.timetable {
    width: 100%;
}

.timetable table {
    width: 100%;
}

.sidebar {
    display: flex;
    flex: 1 0 300px;
    background: #eee;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.course-select {

}

#course-selector {

}

.course-view {
    background: rgba(0,0,0,.25);
}